{% extends "base.html" %}
{% block title %}{{ category.name|capfirst }} | CCbeauty{% endblock %}
{% block meta_description %}Browse {{ category.name }} products from CCbeauty.{% endblock %}
{% block content %}<section class="container py-4"><h1>{{ category.name|capfirst }}</h1>
{% if products %}<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 g-3">{% for product in products %}<div class="col">{% include "partials/product_card.html" %}</div>{% endfor %}</div>{% include "partials/pagination.html" with page_obj=products %}
{% else %}{% url 'store' as shop_url %}{% include "partials/empty_state.html" with empty_title="No products in this category" empty_message="Browse the rest of our catalog." empty_url=shop_url %}{% endif %}</section>{% endblock %}
