{% extends "./base.html" %}

{% load static %}


{% block content %}


<main>
  
  <div class="album">
    <div class="container-fluid px-4">

      <div class="all-product"> {{category.name}} </div>

      <div class="row row-cols-2 row-cols-sm-3 row-cols-md-6 mx-0 g-3 bg-white">

        <!-- for product in products -->
        {% for product in products %}

        <div class="col">
          <div class="card bg-white shadow-sm h-100 text-center border-0">
          <img class="product-card-img img-fluid" alt="Responsive image" src="{{product.image.url}}">

            <div class="card-body">
              <p class="card-text text-muted text-capitalize">
                <a class="product-title text-info text-decoration-none" href="{{product.get_absolute_url}}"> {{product.title}} </a>
              </p>
              <div class="card-price d-flex justify-content-between align-items-center">
                <h5 class="card-price-p fs-6 fs-sm-5 fs-md-4 fs-lg-3"> &#8358; {{product.price}} </h5>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        <!-- end for -->

      </div>
    </div>
  </div>


</main>

{% endblock %}