{% include "ccstore/base.html" %}


{% load static %}

{% block content %}


<body>

    <br>

    <div class="login-card">
        <div class="login-header"></div>
        <div class="login-body">
            <div class="text-center">
                <i class="fa fa-check fa-3x text-success" aria-hidden="true"></i>
                <br>
                <br>
                <h4>YOUR EMAIL HAS BEEN VERIFIED!</h4>

                <p>Thank you for verifying your email address. You can now login to your account and start shopping.</p>

            </div>
        </div>
    </div>
</body>
{% endblock %}