{% include "ccstore/base.html" %}
{% load static %}
{% block content %}

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card mt-3">
                    <div class="card-header d-flex justify-content-between align-items-center p-2">
                        <div>
                            <span class="text-success me-1">&#10003;</span> <!-- Green check mark -->
                            <strong>customer info</strong>
                        </div> 
                       <a href="{% url 'manage_shipping_address' %}" class="text-primary text-decoration-none">change</a>
                    </div>
                    <div class="card-body p-2">
                        <p>Name: {{ shipping_address.fullname }}</p>
                        <p class="text-muted">Email: {{ shipping_address.email }}</p>
                        <p class="text-muted">Phone: {{ shipping_address.phone }}</p>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-header d-flex justify-content-between align-items-center p-2">
                        <div>
                            <span class="text-success me-1">&#10003;</span> <!-- Green check mark -->
                            <strong>shipping address</strong>
                        </div>
                        <a href="{% url 'manage_shipping_address' %}" class="text-primary text-decoration-none">change</a>
                    </div>
                    <div class="card-body p-2">
                        <p class="mb-1 text-muted">{{ shipping_address.address1 }}, {{ shipping_address.address2 }}, {{ shipping_address.city }}, {{ shipping_address.state }} {{ shipping_address.zipcode }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                
                <div class="card mt-3">
                    <div class="card-header">
                        <span class="text-success me-1">&#10003;</span> <!-- Green check mark -->
                        <strong>order summary</strong>
                    </div>
                    <div class="card-body p-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <p>Total items in your cart:</p>
                            <p class="text-bold">{{ total_items }}</p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="text-bold">Subtotal:</p>
                            <p><strong>&#8358;{{ cart.get_total_price }}</strong></p>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <form id="form">
                            
                        <button id="complete-order" type="submit" class="btn btn-primary navbar-btn text-white"> &nbsp; Complete order </button>

                        </form>
                    </div>  
                </div>              

            </div>         
        </div>
    </div>

    </body>
    
    <script>
   
        $ (document).on('submit', function(e){
    
            e.preventDefault();

            $('#complete-order').prop('disabled', true).text('Processing...');
    
            $.ajax({
    
                type: 'POST',
    
                url: '{% url "orders" %}',
    
                data: {
    
                    fullname: "{{ shipping_address.fullname }}",
                    email: "{{ shipping_address.email }}",
                    address1: "{{ shipping_address.address1 }}",
                    address2: "{{ shipping_address.address2 }}",
                    city: "{{ shipping_address.city }}",
                    state: "{{ shipping_address.state }}",
                    zipcode: "{{ shipping_address.zipcode }}",

                    csrfmiddlewaretoken: '{{ csrf_token }}',
    
                    action: 'post'
    
                }, 
                success: function(json){
                    window.location.replace('{% url "makepayment" %}');
                
                },
    
                error: function(xhr, errmsg, err){

                    window.location.replace('{% url "checkout" %}');
    
                }
    
            });
        })
    </script>


{% endblock %}