{% include "ccstore/base.html" %}


{% load static %}


{% block content %}



    <body>

        <br>
    
        <div class="login-card">
            <div class="login-header"></div>
            <div class="login-body">
                <div class="text-center">
                    <h4>Make Payment</h4>

                    <p>
                        You are about to make a payment of <strong>{{ total_cost }}</strong>
                        for order #{{ payment.order_id }} with reference
                        <strong>{{ payment.ref }}</strong>.
                    </p>

                    <br>
                    <button onclick="payWithPaystack()" class="btn btn-primary">Pay with Paystack</button>             
                    <form id="verification-form" method="post" action="{% url 'verify_payment' payment.ref %}" hidden>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </body>

    


    <script src="https://js.paystack.co/v1/inline.js"></script>

    <script>
        function payWithPaystack() {
            
            let paystack = PaystackPop.setup({
                key: "{{ PAYSTACK_PK }}",
                email: "{{ email }}", // Replace with your customer's email
                amount: {{ amount_kobo }},
                ref: "{{ payment.ref }}", // Replace with your unique reference

                onClose: function() {
                    window.location.href = "{% url 'payment_pending' payment.ref %}";
                },

                callback: function(response) {
                    document.getElementById('verification-form').submit();
                }
            });

            paystack.openIframe();
        }
    </script>


</body>

{% endblock %}
