{% include "ccstore/base.html" %}


{% load static %}

{% load crispy_forms_tags %}    


{% block content %}


<body>

    <div class="login-card">
        <div class="login-header"></div>
        <div class="login-body">


            <h4> Password Reset Sent</h4>
            <hr>

            <br>

            <p>
                we've sent you an email with instructions on how to reset your password.
                if you don't receive an email within the next few minutes, please make sure to check your spam folder.
            </p>
        </div>
    </div>

</body>




{% endblock %}