{% include "ccstore/base.html" %}


{% load static %}    


{% block content %}

<body>

    <div class="login-card">
        <div class="login-header"></div>
        <div class="login-body">
            <h4>Delete your account</h4>
            <p>Enter your current password. Your profile and saved addresses will be removed. Historical orders and payment records will remain.</p>

            <form method="POST" autocomplete="off">

                {% csrf_token %}
                {{ form.as_p }}
                <br>

                <button type="submit" class="btn btn-primary btn-login w-100 text-white fw-bold"> delete </button>

            </form>
        </div>
    </div>
</body>




{% endblock %}
