{% include "ccstore/base.html" %}


{% load static %}

{% load crispy_forms_tags %}    


{% block content %}


<body>

    <div class="login-card">
        <div class="login-header"></div>
        <div class="login-body">

        

            <h4 class="login-title">Login Your Account</h4>

            <form method="POST" autocomplete="off">

                {% csrf_token %}

                
                <div class="mb-3">
                    {{ form.username | as_crispy_field }}
                </div>

                <div class="mb-3">
                    {{ form.password | as_crispy_field }}
                </div>

                <div class="text-danger">                
                    {{form.non_field_errors}}
                </div>

               <button type="submit" class="btn btn-primary btn-login w-100 text-white fw-bold"> Login </button>

               <br>
               <br>

               <div class="text-center my-3 extra-links">
                <a href="{% url 'password_reset' %}"> Forgot password? </a>
                <span class="mx-2">|</span>
                <a href="{% url 'register' %}"> Create an account </a>

               </div>
            </form>


    </div>
    </div>
    
</body>




{% endblock %}